@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: rgb(242 242 243);
  --foreground: rgb(24 26 27);
}

.dark {
  --background: rgb(17 18 19);
  --foreground: rgb(242 242 243);
}

@theme inline {
  --color-onyx-50: rgb(240 245 240);
  --color-onyx-100: rgb(224 235 224);
  --color-onyx-200: rgb(194 214 194);
  --color-onyx-300: rgb(163 194 163);
  --color-onyx-400: rgb(133 173 133);
  --color-onyx-500: rgb(102 153 102);
  --color-onyx-600: rgb(82 122 82);
  --color-onyx-700: rgb(61 92 61);
  --color-onyx-800: rgb(41 61 41);
  --color-onyx-900: rgb(20 31 20);
  --color-onyx-950: rgb(14 21 14);
  --color-black-cherry-50: rgb(253 232 233);
  --color-black-cherry-100: rgb(250 209 211);
  --color-black-cherry-200: rgb(246 162 168);
  --color-black-cherry-300: rgb(241 116 124);
  --color-black-cherry-400: rgb(237 69 81);
  --color-black-cherry-500: rgb(232 23 37);
  --color-black-cherry-600: rgb(186 18 30);
  --color-black-cherry-700: rgb(139 14 22);
  --color-black-cherry-800: rgb(93 9 15);
  --color-black-cherry-900: rgb(46 5 7);
  --color-black-cherry-950: rgb(32 3 5);
  --color-deep-crimson-50: rgb(254 231 232);
  --color-deep-crimson-100: rgb(253 206 210);
  --color-deep-crimson-200: rgb(251 157 165);
  --color-deep-crimson-300: rgb(249 108 120);
  --color-deep-crimson-400: rgb(247 59 75);
  --color-deep-crimson-500: rgb(245 10 30);
  --color-deep-crimson-600: rgb(196 8 24);
  --color-deep-crimson-700: rgb(147 6 18);
  --color-deep-crimson-800: rgb(98 4 12);
  --color-deep-crimson-900: rgb(49 2 6);
  --color-deep-crimson-950: rgb(34 1 4);
  --color-dim-grey-50: rgb(242 242 243);
  --color-dim-grey-100: rgb(228 230 231);
  --color-dim-grey-200: rgb(202 205 206);
  --color-dim-grey-300: rgb(175 179 182);
  --color-dim-grey-400: rgb(149 154 157);
  --color-dim-grey-500: rgb(122 129 133);
  --color-dim-grey-600: rgb(98 103 106);
  --color-dim-grey-700: rgb(73 77 80);
  --color-dim-grey-800: rgb(49 52 53);
  --color-dim-grey-900: rgb(24 26 27);
  --color-dim-grey-950: rgb(17 18 19);
  --color-pale-slate-50: rgb(242 242 243);
  --color-pale-slate-100: rgb(228 229 231);
  --color-pale-slate-200: rgb(202 203 206);
  --color-pale-slate-300: rgb(175 177 182);
  --color-pale-slate-400: rgb(149 151 157);
  --color-pale-slate-500: rgb(122 125 133);
  --color-pale-slate-600: rgb(98 100 106);
  --color-pale-slate-700: rgb(73 75 80);
  --color-pale-slate-800: rgb(49 50 53);
  --color-pale-slate-900: rgb(24 25 27);
  --color-pale-slate-950: rgb(17 18 19);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
